$primary: rgba(13, 110, 253, 0.6);
$secondary: rgba(108, 117, 125, 0.6);
$success: rgba(25, 135, 84, 0.6);
$warning: rgba(255, 193, 7, 0.6);
$danger: rgba(220, 53, 69, 0.6);
$info: rgba(13, 202, 240, 0.6);
$light: rgba(248, 249, 250, 0.6);
$dark: rgba(33, 37, 41, 0.6);

$body-color: #f5f3f3;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
